.main-body {
  // margin: 0 100px;
  overflow: hidden;
}

// One row
.list-100-width {
  width: 100%;
}

// General
#web-main-wrapper {
  font-family: Montserrat;
}

h1 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 30px;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 35px;
  }
}


h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

@include media-breakpoint-up(sm) {
  h2 {
    font-size: 26px;
  }
}

@include media-breakpoint-up(md) {
  h2 {
    font-size: 30px;
  }
}


.data-numbers {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 9px;
}

.cta {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.button-black-Text {;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
}

.data-description {;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.tab:hover {
  color: $neon-red;
}

.tab {;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.main-nav {;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.link-list {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.button-white {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.big-intro {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.link-in-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $neon-red;
}

p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.footer-primary-links {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}
@include media-breakpoint-up(md) {
  .footer-primary-links {
    margin-top: 5px;
  }
}

.footer-primary-links-wrapper {
  margin-bottom: 18px;
}
@include media-breakpoint-up(md) {
  .footer-primary-links-wrapper {
    padding: 0 10px;
  }
}

.anchor {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.footer-secondary-link {;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
  color: $white;
}

.footer-white-text {;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
  margin-top: 15px;
}
@include media-breakpoint-up(md) {
  .footer-white-text {;
    margin-top: 5px;
  }
}

.cta-little-white-description {;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.little-black-description {;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.button-login {;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.secondary-nav {;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.navigation-line {
  width: 70px;
  height: 2px;
  border: solid 2px $neon-red;
  display: inline-block;
  border-radius: 20%;
  vertical-align: middle;
  margin-left: 15px;
}

.button-red {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  border-radius: 19px;
  padding: 10px 20px;
  border: none;
  background-color: $neon-red;
  display: inline-block;
  width: 280px;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .button-red {
    font-size: 16px;
    display: inline;
    width: auto;
    line-height: normal;
    text-align: left;
  }
}

.no-radius {
  border-radius: 0;
}

.button-red:hover {
  color: $white;
}

.rotate-45 {
  transform: rotate(-45deg);
}

.icon-arrow-list {
  color: $neon-red;
  font-size: 20px;
  margin-right: 20px;
}

.icons-list-contact {
  font-family: simple-line-icons;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  width: 26px !important;
}

.no-bullet-list {
  list-style: none;
}

.no-padding-list {
  padding-left: 0;
}

.copy-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.tab {
  overflow: hidden;
}

.tabs-title {
  background-color: inherit;
  float: left;
  padding: 14px 21px 14px 11px;
  transition: 0.3s;
  font-size: 17px;
  border: none;
  outline: none;
  cursor: pointer;
}

.tabs-title:hover {
  color: $neon-red;
  border: none;
  outline: none;
}

.tabs-title:focus {
  border: none;
  outline: none;
}

.tabs-title:active {
  color: $neon-red;
  outline: none;
}

.tabcontent {
  padding: 6px 12px;
  border-top: none;
}

.active-tab {
  color: $neon-red;
}

.footer {
  width: 100%;
}

.main-footer {
  background-color: $dark-maroon;
  padding: 60px 0;
}
.secondary-footer-col-1,.secondary-footer-col-2,.secondary-footer-col-3{
  padding-top:20px;
}
@include media-breakpoint-up(md) {
  .secondary-footer-col-1{
    padding-top:30px;
  }
  .secondary-footer-col-2{
    padding-top:5px;
  }
  .secondary-footer-col-3{
    padding-top:0;
  }
}
.secondary-footer-col-1 img,.secondary-footer-col-2 img,.secondary-footer-col-3 img{
  max-height: 75px;
}

.co2 {
  height: 526px;
}

.abs-wrapper {
  background-color: rgba(255, 205, 13, 0.5);
  background-image: linear-gradient(to right, rgba(255, 205, 13, 1), rgba(255, 205, 13, 0.9));
  padding: 40px;
}

.black-button-icon {
  margin-left: 14px;
  font-size: 20px;
}

.header-image-section {
  position: absolute;
  top: 113px;
  width: 100%;
  height: 250px;
  left: 0;
  right: 0;
  background-image: url('../../assets/images/web-header.png');
  background-repeat: no-repeat;
  background-position: left;
}

@include media-breakpoint-up(sm) {
  .header-image-section {
    background-position: center;
    height: 400px;
  }
}


.header-content-section {
  margin-top: calc(15rem);
  position: relative;
}
@include media-breakpoint-up(sm) {
  .header-content-section {
    margin-top: calc(15rem + 100px);
  }
}

.co2-section {
  position: relative;
}

.custom-header-abs-content {
  position: absolute;
  bottom: -30px;
}

.no-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

.navbar-web {
  z-index: 9;
  background-color: $white;
  border-bottom: 1px solid $dark-maroon;
}

.co2-section {
  margin-bottom: 4rem !important;
  margin-top: 3rem;
}

@include media-breakpoint-up(lg) {
  .co2-section {
    margin-bottom: 3rem !important;
    margin-top: auto;
  }
}

.menu-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}

.data-col {
  padding: 5px auto;
  border-left: 3px solid $orange-yellow;
  border-right: none;
  margin-bottom: 25px;
}

.data-cols-row {
  margin-left: 5px;
}

.custom-co2-abs-content {
  position: absolute;
  top: 470px;
  right: 0;
}

.mtop-avoid-yellowbox {
  margin-top: 480px;
}
@media (min-width: 400px) {
  .mtop-avoid-yellowbox {
    margin-top: 400px;
  }
}
@media (min-width: 500px) {
  .mtop-avoid-yellowbox {
    margin-top: 350px;
  }
}
@include media-breakpoint-up(md) {
  .mtop-avoid-yellowbox {
    margin-top: 35px;
  }
}

// Form button
.mtop-avoid-yellowbox .btn-info {
  color: $white;
  background-color: $neon-red;
  border-color: $neon-red;
  font-weight: 600;
}

@include media-breakpoint-up(md) {
  .menu-container {
    display: block;
    width: auto;
  }

  .data-col {
    padding: 5px auto;
    border-right: 3px solid $orange-yellow;
    border-left: none;
    margin-bottom: 0;
  }
  .data-col:last-child {
    border-right: none;
  }
  .data-cols-row {
    margin-left: -15px;
  }
  .custom-co2-abs-content {
    top: -30px;
    right: 0;
  }
}


// Icons text circle

.circle-text-wrapper {
  position: relative;
  height: 500px;
}

.circle-text-wrapper-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  // width: calc(100% - 100px);
  min-width: 440px;
  max-width: 440px;
  height: calc(100% - 50px);
}

@include media-breakpoint-up(sm) {
  .circle-text-wrapper-abs {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
  }
}

@include media-breakpoint-up(lg) {
  .circle-text-wrapper-abs {
    margin-left: 0;
    margin-right: 0;
    right: auto;
    left: 0;
  }
}

.icon-wrapper {
  position: absolute;
  padding: 20px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.icon-wrapper-active {
  background-color: $intranet-yellow;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.icon-top-right {
  top: 0;
  right: 0;
}

.icon-bottom-right {
  bottom: 0;
  right: 0;
}

.icon-bottom-left {
  bottom: 0;
  left: 0;
}

.icon-top-left {
  top: 0;
  left: 0;
}

.icons-text-wrapper {
  position: absolute;
  max-width: 200px;
  white-space: pre-line;
  word-wrap: break-word;
}

.icons-text-wrapper-top-right {
  top: 38%;
  left: 38%;
}

.icons-text-wrapper-bottom-right {
  top: 38%;
  left: 30%;
}

.icons-text-wrapper-bottom-left {
  top: 38%;
  left: 38%;
}

.icons-text-wrapper-top-left {
  top: 38%;
  left: 38%;
}


.arrow-wrapper {
  position: absolute;
  padding: 20px;
}


.arrow-wrapper-top {
  top: 0;
  left: 32%;
}

.arrow-wrapper-right {
  top: 32%;
  right: 0;
}

.arrow-wrapper-bottom {
  bottom: 0;
  left: 32%;
}

.arrow-wrapper-left {
  top: 32%;
  left: 0;
}

.visibility-hid {
  visibility: hidden;
}

.two-cols-img-mobile {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.two-cols-icons-circle {
  display: none;
}

@include media-breakpoint-up(sm) {
  .two-cols-img-mobile {
    display: none;
    margin-top: 0;
  }
  .two-cols-icons-circle {
    display: block;
  }
}

.avoid_menu_overlap {
  margin-top: 200px;
}

// link list
.img-link-list{
  padding: 10px;
}
.img-link-link{
  color: $dark-maroon
}
.img-link-list-centered{
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  top: 15%;
}
