.navbar-brand {
  display: block;
}
.mainLogo{
  display:block;
}
.navbar-nav {
  border-top: 1px solid $dark-maroon;
}

@include media-breakpoint-up(lg) {
  .navbar-nav {
    border-top: 0;
  }
}
.menu-link-item {
  font-weight: bold;;
  font-size: 18px;
  color: #32375a;
}

.navbar-light {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}